<a href="https://colab.research.google.com/github/vamsiteja142/Decision_Tree_Regression/blob/master/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import files
upload = files.upload()

Saving beer_data.csv to beer_data.csv

In [0]:
dataset = pd.read_csv('beer_data.csv')

In [0]:
dataset['min_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[0].strip()))
dataset['max_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[1].strip()))

In [0]:
dataset.head()

   ABV  Ratings Cellar Temperature  Score
0  7.5        1              40-45   4.08
1  5.3       22              40-45   3.82
2  9.0        1              45-50   4.03
3  4.6        1              35-40   4.00
4  6.9        1              45-50   3.75

In [9]:
dataset.columns

Index(['ABV', 'Ratings', 'Cellar Temperature', 'Score',
       'min_cellar_temperature', 'max_cellar_temperature'],
      dtype='object')

In [0]:
dataset['min_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[0].strip()))
dataset['max_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[1].strip()))

In [0]:
dataset = dataset[['ABV', 'Ratings', 
       'min_cellar_temperature', 'max_cellar_temperature', 'Score']]

In [12]:
dataset

      ABV  Ratings  min_cellar_temperature  max_cellar_temperature  Score
0     7.5        1                      40                      45   4.08
1     5.3       22                      40                      45   3.82
2     9.0        1                      45                      50   4.03
3     4.6        1                      35                      40   4.00
4     6.9        1                      45                      50   3.75
...   ...      ...                     ...                     ...    ...
1626  6.5        2                      40                      45   3.67
1627  6.0        6                      40                      45   3.75
1628  4.8        1                      35                      40   3.25
1629  5.5        1                      40                      45   4.11
1630  4.8        2                      40                      45   3.44

[1631 rows x 5 columns]

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Data columns (total 5 columns):
ABV                       1631 non-null float64
Ratings                   1631 non-null int64
min_cellar_temperature    1631 non-null int64
max_cellar_temperature    1631 non-null int64
Score                     1631 non-null float64
dtypes: float64(2), int64(3)
memory usage: 63.8 KB

In [0]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [15]:
x.head()

   ABV  Ratings  min_cellar_temperature  max_cellar_temperature
0  7.5        1                      40                      45
1  5.3       22                      40                      45
2  9.0        1                      45                      50
3  4.6        1                      35                      40
4  6.9        1                      45                      50

In [16]:
y.head()

0    4.08
1    3.82
2    4.03
3    4.00
4    3.75
Name: Score, dtype: float64

In [17]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Data columns (total 4 columns):
ABV                       1631 non-null float64
Ratings                   1631 non-null int64
min_cellar_temperature    1631 non-null int64
max_cellar_temperature    1631 non-null int64
dtypes: float64(1), int64(3)
memory usage: 51.1 KB

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .2, random_state = 0)

In [0]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(criterion = 'mse')

In [21]:
dtr.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [0]:
y_pred = dtr.predict(x_test)

In [23]:
y_pred

array([3.89      , 0.        , 3.57      , 3.83      , 4.23      ,
       3.70833333, 3.53      , 0.        , 3.47      , 3.575     ,
       3.92      , 3.29      , 3.36333333, 3.55      , 3.98      ,
       3.77142857, 3.86      , 4.02      , 3.515     , 3.9425    ,
       3.91333333, 4.23      , 0.        , 4.38      , 4.01      ,
       0.        , 3.83      , 4.1       , 3.658     , 4.01      ,
       4.012     , 0.        , 3.92      , 0.        , 4.1       ,
       2.88      , 3.65      , 3.98      , 3.7       , 3.06333333,
       3.765     , 2.54      , 3.92      , 3.95      , 3.77416667,
       3.99      , 4.33      , 3.        , 4.1       , 4.23      ,
       4.11      , 3.575     , 3.96      , 3.85      , 4.08      ,
       3.765     , 0.        , 3.97727273, 3.875     , 3.29      ,
       4.        , 4.315     , 3.94      , 0.        , 3.84      ,
       3.67      , 4.05      , 3.4       , 3.55      , 3.76      ,
       3.96      , 3.81      , 3.412     , 4.05      , 3.8       ,
       3.97      , 3.735     , 2.47      , 4.245     , 3.66      ,
       4.1       , 4.06      , 4.18      , 3.35      , 3.67      ,
       3.36      , 3.77416667, 0.        , 3.99      , 3.8       ,
       3.6       , 3.06333333, 0.        , 3.99      , 0.        ,
       4.09      , 3.11      , 3.36      , 4.02      , 3.        ,
       3.606     , 3.4       , 3.815     , 3.9225    , 3.7875    ,
       4.27      , 4.115     , 3.7       , 3.83      , 3.97727273,
       3.61      , 3.77416667, 4.3       , 3.66      , 0.        ,
       3.86      , 3.93      , 3.67      , 3.77055556, 3.915     ,
       4.19      , 0.        , 3.96      , 3.7875    , 2.94      ,
       3.28      , 3.62      , 3.55      , 3.862     , 2.94      ,
       3.87      , 0.        , 3.65      , 4.01      , 3.87      ,
       3.9       , 3.72333333, 3.7       , 3.70714286, 3.96      ,
       3.85      , 3.73      , 3.96      , 0.        , 4.01      ,
       1.88      , 4.38      , 4.        , 4.08      , 3.565     ,
       1.89      , 0.        , 0.        , 3.45333333, 0.        ,
       4.02      , 0.        , 0.        , 4.08      , 3.94      ,
       4.        , 3.658     , 2.66      , 3.77      , 3.7       ,
       3.948     , 3.575     , 3.67      , 3.88      , 3.83      ,
       3.68      , 3.5       , 3.93      , 3.85      , 3.54666667,
       4.02      , 4.22      , 3.99      , 2.73      , 3.97      ,
       3.665     , 3.70833333, 3.75      , 4.0325    , 0.        ,
       3.75      , 3.52      , 3.63      , 3.92      , 3.78      ,
       0.        , 3.75      , 3.23333333, 3.93      , 0.        ,
       4.085     , 3.52      , 3.75      , 3.99      , 3.915     ,
       4.13      , 3.83      , 4.        , 2.94      , 4.28      ,
       3.5       , 3.75      , 0.        , 3.85666667, 0.        ,
       3.54      , 3.65      , 3.70833333, 0.        , 4.05      ,
       4.31      , 0.        , 0.        , 3.77142857, 3.52      ,
       3.7875    , 3.55      , 3.66      , 0.        , 3.38      ,
       0.        , 3.83      , 3.745     , 3.95      , 4.205     ,
       0.        , 3.13      , 3.70714286, 0.        , 0.        ,
       3.88      , 3.89      , 3.61      , 4.29      , 3.97      ,
       3.78      , 3.634     , 3.68      , 3.9       , 3.83      ,
       4.23      , 0.        , 3.32666667, 3.75      , 3.86      ,
       4.18      , 3.41      , 3.48      , 0.        , 3.4       ,
       3.83      , 3.66      , 3.72      , 3.32      , 4.23      ,
       3.7       , 0.        , 3.73      , 4.08      , 2.96      ,
       3.95      , 3.384     , 4.        , 2.82      , 4.245     ,
       0.        , 4.        , 3.69      , 3.77055556, 3.57      ,
       3.83      , 3.        , 3.90571429, 4.64      , 3.82      ,
       4.55      , 3.77      , 3.99      , 3.        , 3.59375   ,
       3.68      , 0.        , 3.64      , 3.51      , 3.49      ,
       4.        , 0.        , 0.        , 4.23      , 3.61      ,
       3.745     , 3.63      , 3.68      , 4.08      , 0.        ,
       4.22      , 3.384     , 0.        , 4.23      , 4.08      ,
       3.69      , 3.29      , 4.46      , 3.11      , 3.67      ,
       4.15      , 3.59375   , 3.        , 4.24      , 3.77416667,
       3.384     , 3.64      , 3.01      , 3.606     , 1.9       ,
       3.81      , 3.88      , 3.78714286, 3.61      , 0.        ,
       3.93      , 4.        ])

In [0]:
  def rmsle(y_test, y_pred):
    error = np.square(np.log10(y_test + 1) - np.log10(y_pred + 1)).mean() **.5
    score = 1 - error
    return score

In [28]:
print(rmsle(y_test, y_pred))

0.9448220259147109